<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>

    <table>
        <thead>
            <tr>
                <th>Participant</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in leaderboard_data %}
            <tr>
                <td>{{ participant.user.username }}</td>
                <td>{{ participant.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
